
body {
    font-size: 1rem;
}

input {
    font-size: inherit;
}

figure.center {
    text-align: center;
}
figure.center img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
figure.center figcaption {
    text-align: center;
}

figcaption h4 {
    font-weight: 500;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

.required {
    color: red;
}
